version: '3.9'

services:

  frontend-service:
    build: frontend
    depends_on:
      - prediction-service
    ports:
      - 80:80
    environment:
      - PREDICTION_SERVICE_HOSTNAME=prediction-service
      - PREDICTION_SERVICE_PORT=3000
    volumes:
      - ./frontend/src:/src

  prediction-service:
    build: backend
    ports:
      - 3000:3000
    command: "uvicorn app.main:app --host 0.0.0.0 --port 3000 --reload"
    volumes:
      - ./backend/app:/src/app
      - ./models:/src/models
